<header class="header" role="banner">

  <div class="container">

    <div class="grid-middle">

      <div class="col-5 nav-left">
        <a class="nav-link" href="/">Hats</a>
        <a class="nav-link" href="/">Shirts</a>
        <a class="nav-link" href="/">Hoodies</a>
        <a class="nav-link" href="/">Shoes</a>
      </div>

      <div class="col-2 text-center">
        <a class="logo" href="{{ "/" | relative_url }}"><img src="{{ "/assets/images/logo.svg" | relative_url }}"/></a>
      </div>
      
      <div class="col-5 text-right nav-right">
        <a class="nav-link" href="/">About</a>
        <a class="nav-link" href="/">Faqs</a>
        <a class="nav-link" href="/">Cart</a>
      </div>

    </div>

  </div>

</header>
