---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "grid";

//Colors
$colorDefault: #333333;
$colorDefaultLight: #ececec;
$colorBorder: #f2f2f2;
$colorAccent: #1ABC9C;
$colorText: #666666;
$colorSuccess: #2ecc71;

/* Default
=================================*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: $colorText;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
img {
  display: block;
  max-width: 100%;
}
h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  color: $colorDefault;
}
.h1 {
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
a {
  text-decoration: none;
  color: $colorAccent;
}
ul, ol {
  padding-left: 30px;
}
select {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 30px 10px 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: $colorText;
  background: #fff;
  border: 1px solid $colorBorder;
  border-radius: 0;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
}
label {
  display: block;
  margin: 10px 0 5px 0;
  font-family: 'Montserrat';
  font-size: 14px;
  text-transform: uppercase;
  color: $colorDefault;
}
input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: $colorText;
  border: 1px solid $colorBorder;
  border-radius: 0;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* Global
=================================*/
.btn {
  display: inline-block;
  padding: 10px 40px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;  
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  color: #fff;
  background: $colorAccent;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  &:hover {
    opacity: 0.75;
  }
  &.btn--full {
    width: 100%;
  }
}
.select-wrapper {
  position: relative;
  cursor: pointer;
}
.select-arrow {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  width: 14px;
  height: 48px;
  margin: 0 10px;
  pointer-events: none;
  svg {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }
}
.loader {
  img {
    margin: 0 auto;
  }
}

/* Header
=================================*/
.header {
  margin-bottom: 40px;
  padding: 20px 0;
  border-bottom: 1px solid $colorBorder;
}
.logo {
  display: block;
  img {
    margin: 0 auto;
  }
}
.nav-left {
  .nav-link {
    margin-right: 10px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}
.nav-right {
  .nav-link {
    margin-left: 10px;
    &:first-of-type {
      margin-left: 0;
    }
  }
}
.nav-link {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  color: $colorDefault;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  &:hover {
    color: $colorAccent;
  }
}
.cart-count {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  min-width: 22px;
  height: 22px;
  margin-left: 3px;
  padding: 0 5px;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  background: $colorAccent;
  border-radius: 20px;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  &.has-items {
    position: static;
    opacity: 1;
  }
}

/* Product
=================================*/
.product-image {
  position: relative;
  img {
    position: relative;
    z-index: 10;
  }
}
.product-image-background {
  position: absolute;
  top: 0;
  left: -100px;
  z-index: 5;
  width: calc(100% + 100px);
  font-family: 'Montserrat';
  font-size: 100px;
  line-height: 100px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: left;
  color: #000;
  opacity: 0.05;
}
.product-title {
  font-weight: 800;
}
.product-variant-selector {
  max-width: 320px;
}
.quantity {
  display: inline-block;
  width: 100%;
  max-width: 70px;
}
.product-price {
  margin: 30px 0;
}
.add-to-cart-wrapper {
  display: inline-block;
}
.add-to-cart {
  width: 100%;
  min-width: 320px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.add-to-cart-success {
  background: $colorSuccess;
}
.product-success {
  display: block;
  margin: 5px 0;
  font-size: 12px;
}

/* Cart
=================================*/
.collection-product-image {
  display: block;
}

/* Cart
=================================*/
.cart-header {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid $colorBorder;
  h5 {
    margin: 0;
  }
}
.cart-row {
  margin-bottom: 20px;
  border-bottom: 1px solid $colorBorder;
  &:last-of-type {
    margin-bottom: 0;
  }
}
.cart-item {
  margin: 0;
  line-height: 48px;
}

/* Footer
=================================*/
.footer {
  margin-top: 40px;
  padding: 40px 0;
  border-top: 1px solid $colorBorder;
}
.footer-logo {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}
.footer-nav {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 40px;
  padding: 0;
  line-height: 14px;
  cursor: pointer;
  li {
    display: block;
    margin-bottom: 10px;
  }
}
.footer-social {
  display: inline-block;
  margin-left: 10px;
  font-size: 16px;
  color: $colorDefault;
  &:hover {
    color: $colorAccent;
  }
}
.footer-bottom {
  padding: 10px 0;
  border-top: 1px solid $colorBorder;
  p {
    margin: 0;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: $colorDefaultLight;
  }
}

/* Responsive
=================================*/
@media screen and (max-width: 768px) {
  .product-image {
    img {
      margin: 0 auto;
    }
  }
}