---
layout: default
---
{% assign product = page %}
{% assign productPrice = product.price | divided_by: 100 %}
<div class="product">

  <div class="grid">
    <div class="col-6 text-center">
      <h3>Image goes here</h3>
    </div>
    <div class="col-6">
      <h1 class="product-title">{{ product.title | escape }}</h1>
      <div class="content">
        {{ content }}
      </div>
      <div class="product-form">
        <h2>${{ productPrice }}</h2>
        <button id="checkout" class="btn btn-buy-now">Buy Now</button>
      </div>
    </div>
  </div>

</div>
<script>
var handler = StripeCheckout.configure({
  key: 'pk_test_3OU8GKAVPeVzz4XHKbBIOOtQ',
  image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
  locale: 'auto',
  billingAddress: true,
  shippingAddress: true,
  token: function(token) {
    var payload = {
      amount: '{{ page.price }}' * 1,
      description: 'Navy',
      stripeToken: token.id,
      stripeTokenType: token.type,
      stripeEmail: token.email
    }
    $.ajax({
      type: 'POST',
      url: 'https://squidz-checkout.herokuapp.com/',
      crossDomain: true,
      data: payload,
      dataType: 'json',
      success: function(data, textStatus, jqXHR) {
        console.log(data, textStatus, jqXHR)
        //window.location.replace('/success');
      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.log(jqXHR, textStatus, errorThrown)
        //window.location.replace('/error');
      }
    });
  }
});

document.getElementById('checkout').addEventListener('click', function(e) {
  // Open Checkout with further options:
  handler.open({
    name: '{{ page.title }}',
    description: 'Navy',
    amount: '{{ page.price }}' * 1
  });
  e.preventDefault();
});

// Close Checkout on page navigation:
window.addEventListener('popstate', function() {
  handler.close();
});
</script>
