---
layout: default
---
<div id="product" class="product"></div>

<script>
  $(function () {
    var productId;
    shopClient.fetchProduct('{{ product.product_id }}')
    .then(function (product) {
      productId = product.id;
      var productHTML = '\
        <div class="grid">\
          <div class="col-6 text-center">\
            <div class="product-image">\
              <img src="" />\
            </div>\
          </div>\
          <div class="col-6">\
            <h1 class="product-title"></h1>\
            <h2 class="product-sub-title"></h2>\
            <div class="product-description content"></div>\
            <div class="product-form">\
              <div class="product-variant-selector"></div>\
              <div class="product-price"></div>\
              <button class="btn add-to-cart" data-product-id="'+product.id+'" data-variant-id="'+ product.selectedVariant.id+'">Add To Cart</button>\
            </div>\
          </div>\
        </div>';
      $('#product').append(productHTML);

      // Initial values
      var selectedVariant = product.selectedVariant,
          selectedVariantImage = product.selectedVariantImage,
          varCount = product.variants.length;

      // Checks if there are more than one variant, and if so, adds the selectors.
      if (varCount > 1) {
				var variantSelectors = product.options.map(function (option) {
          return '<select name="variant-selection" onchange="handleChange(' + option + ')">' + 
            option.values.map(function(value) {
              return '<option value="' + value + '">' + value + '</option>';
            }).join('\n') +
          '</select>';
        });
        $('.product-variant-selector').html(variantSelectors);
				updateVariantTitle(selectedVariant)
			}
      updateVariantImage(i, selectedVariantImage);
			updateVariantPrice(i, selectedVariant);
      onVariantChange();
      $('.buy-button').on('click', onAddToCart);
    })
    .catch(function () {
      console.log('Request failed');
    });//End "get products"

    // Changes the variant title to the selected variant's title
    function updateVariantTitle(selectedVariant){
      $('.product-sub-title').html(selectedVariant.title);
    }

    // Changes the image to the selected variant's image
    function updateVariantImage(selectedVariantImage){
      var src = (selectedVariantImage) ? selectedVariantImage.src : ShopifyBuy.NO_IMAGE_URI;
      $('.product-image img').attr('src', src);
    }

    // Changes the price to the selected variant's price
    function updateVariantPrice(selectedVariant){
      $('.product-price').text('$' + selectedVariant.price);
    }
    function onVariantChange() {
      $('#product').on('change', 'select[name=variant-selection]', function(event) {
        var element = $(this);
        var productID = productId
        var variantID = element.val();
        var variantName = element.find('option:selected').text();
        
        $('.add-to-cart').attr('data-variant-id', variantID)
        
        client.fetchProduct(productID).then(function(product) {
          for (var i = 0; i < product.variants.length; i++) {
            if (product.variants[i].id == variantID) {
              var selectedVariant = product.variants[i];
              updateVariantImage(selectedVariant.image);
              updateVariantTitle(selectedVariant);
              updateVariantPrice(selectedVariant);
            }
          }
        });
      });
    }
    function onAddToCart(evt) {
      evt.preventDefault();
      var productID = $(this).attr('data-product-id');
      var variantID = $(this).attr('data-variant-id'); 
      var cartLineItem = findCartItemByVariantId(variantID);
      var quantity = cartLineItem ? cartLineItem.quantity + 1 : 1;
      
      client.fetchProduct(productID).then(function(product) {
        for (var i = 0; i < product.variants.length; i++) {
          if (product.variants[i].id == variantID) {
            variantObject = product.variants[i];
            addOrUpdateVariant(cartLineItem, variantObject, quantity);
            setPreviousFocusItem(evt.target);
            $('#checkout').focus();
          }
        }
      });
    }
    function addOrUpdateVariant(cartLineItem, variantObject, quantity) {
      var variantObjectID = variantObject.id;
      if (cartLineItem) {
        updateVariantInCart(cartLineItem, quantity);
      } else {
        addVariantToCart(variantObject, quantity);
      }
      updateCartTabButton();
    }
  });





  function handleChange(select) {
    console.log('option', select)
    var optionName = select.name;
    var selectedValue = select.value;

    var option = product.options.filter(function (option) {
      return option.name === optionName;
    })[0];

    

    option.selected = selectedValue;
  }
</script>
<!--<script>
  $(function () {
    shopClient.fetchProduct('{{ product.product_id }}')
    .then(function (product) {
      var selects = product.options.map(function (option) {
        return '<select name="' + option.name + '" onchange="handleChange(' + option + ')">' + 
          option.values.map(function(value) {
            return '<option value="' + value + '">' + value + '</option>';
          }).join('\n') +
        '</select>';
      });
      $('.product-form').prepend(selects);
      $('.product-image').prepend('<img src="'+product.selectedVariantImage.src+'" />');
    })
    .catch(function () {
      console.log('Request failed');
    });
  });
  function handleChange(select) {
    console.log('option', select)
    var optionName = select.name;
    var selectedValue = select.value;

    var option = product.options.filter(function (option) {
      return option.name === optionName;
    })[0];

    

    option.selected = selectedValue;
  }
</script>-->
